h1{
	font-family: sans-serif;
	
}

body{
	background-color: #0D9D26;
}

h2{
	font-family:sans-serif;
}

p{
	color:black;
	font-family:serif;
	margin-left: 50px;
}

#interesting {
	margin-left:60px;
	margin-right:125px;
	font-size:0.8em;
}

#reference {
	margin-left:100px;
	
}

#nav {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #59EE00;
	border-radius: 8px;
	margin-left:500px;
}

#nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#nav li { 
	display: inline; 
	padding: 20px;
	margin: 0px;
}

#nav a {
    color: #000000;
    padding: 8px 8px 8px 8px;
}

#nav a:hover {
    color: #EF1700;
    background-color: #C2F700;
}

#titletext1{
	padding-left: 50px;
	padding-right: 50px;
	border-style: dashed;
    border-width: 10px;
	border-color: red;
	margin-left: 550px;
	margin-right: 550px;
}

#titletext2 {
	padding-left: 50px;
	padding-right: 50px;
	border-style: dashed;
    border-width: 10px;
	border-color: red;
	margin-left: 550px;
	margin-right: 600px;
}

#titletext3 {
	padding-left: 50px;
	padding-right: 0px;
	border-style: dashed;
    border-width: 10px;
	border-color: red;
	margin-left: 600px;
	margin-right: 700px;
}
